{% extends 'base_feedback.html' %}
{% block content %}
       <div class="text text-center text-light">
          <h2>Help Us Improve</h2>
          <h3>Post Your Feedback</h3>
       </div>
       {% load mptt_tags %}
       <div class="container">
        {% recursetree feedbacks %}
        <div class="jumbotron">
            <div class="row" id="{{ node.id }}">
              <div class="col">{{ node.user }}</div>
              <div class="col">{{ node.created }}</div>
            </div>
            <div>{{ node.body }} </div>
           
            <hr>
            <button class="button" onclick="myFunction({{ node.id }})">Reply</button>
        </div>
        {% if not node.is_leaf_node %}
        <div class="children pl-2 pl-md-5">
          {{ children }}
        </div>
        {% endif %}
        {% endrecursetree %}
        
       </div>
       <div id="containerfeedform" class="container mt-5">
        <h3>Post a New Feedback</h3>
         <form id="myform" class="form-group" method="post" autocomplete="off">
          <label>Name:</label>
           {{ form.user }}
          <br>
          <label>Feedback:</label>
            {{ form.body }}
            {% csrf_token %}
           <br>
           <button class="btn btn-primary btn-lg" type="submit">Submit</button>
         </form>
       </div>
{% endblock %}