{% extends 'base_articles.html' %}
{% load static %}
{% block cdnscript %}
{% endblock %}
{% block content %}
    <header class="container_judul">
        <h1 class="landing_judul">
            Semua Artikel
        </h1>
        <a href="{% url 'insertarticles' %}">
            <img src="{% static 'image/plus 2.svg' %}" class="plus" alt="">
        </a>
    </header>

    <section class="container_articles">
        {% for artikel in semua_artikel  %}
        <div class="single_artikel">
            <div class="container_gambar">
                <img class = "gambar_artikel" src= "{{ artikel.gambar_artikel.url }}" alt="">
            </div>
            <div class="isi_artikel">
                <p class="judul_artikel">
                    {{ artikel.judul }}
                </p>
                <p class="isi_artikel">
                    {{ artikel.isi_artikel|truncatechars:180 }}
                </p>
            </div>

            <div class="hapus_dan_lanjutan">
                <form action="{% url 'selengkapnya' artikel.id %}" method="post">
                         {% csrf_token %}
                    <button type="submit" class="btn btn-info" id="btnselengkapnya">Selengkapnya</button>
                </form>
                <a href="{% url 'hapus_artikel' artikel.id %}"><button type="button" class="btn btn-danger" id="btnHapusmain">Hapus Artikel</button></a>
            </div>
            <div class="tanggal_kategori">
                  <p class="kategori">
                    Oleh <span style="color:red;"> {{ artikel.penulis }}</span>
                </p>
                <p class="tanggal_main">
                     🕐 {{ artikel.tanggal}}
                </p>
            </div>

        </div>
        {% endfor %}
    {% if jumlah_semua_artikel == 0 %}
        <h1 class="tidak_ada_artikel">
            Wah belum ada artikel nih, tekan tombol + untuk menambahkan artikel...
        </h1>
    {% endif %}
    </section>
{% endblock %}