{% extends 'base_articles.html' %}
{% block content %}

<header class="container_judul">
        <h1 class="landing_judul">
            Apakah anda yakin ingin menghapus artikel ini?
        </h1>
</header>

<section class="container_konfirmasi">
     <a href="{% url 'articles' %}"><button type="button" class="btn btn-info btn-lg" id="btntidak">Tidak</button></a>
    <form action="{% url 'hapus_artikel' satu_artikel.id %}" method="POST">
                {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-lg" id="btnyakin" >Yakin</button>
    </form>
</section>

{% endblock %}