{% extends 'base_articles.html' %}
{% load static %}
{% block cdnscript %}
{% endblock %}
{% block content %}
    <header class="container_satu_judul">
        <h1 class="sebuah_judul_artikel">
            {{ satu_artikel.judul }}
        </h1>
    </header>

    <div class="container_tanggal_sub">
        <p class="tanggal_sub">Ditulis oleh {{satu_artikel.penulis}} &nbsp; &nbsp; &nbsp; &nbsp; {{ satu_artikel.tanggal }} &nbsp; &nbsp; &nbsp; &nbsp; {{ satu_artikel.kategori }}</p>
    </div>
    <div class="container_isi_artikel">
        <div class="container_satu_gambar">
            <img class = "gambar_artikel_sub" src= "{{ satu_artikel.gambar_artikel.url }}" alt="">
        </div>

        <p class="isi_artikel_sub">
            {{ satu_artikel.isi_artikel }}
        </p>

    </div>
{% endblock %}