{% extends 'basekuesioner.html' %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
  </head>

  <body>
    {% block content %}
    <div class="container1">
      <div class="title_table">Tabel data Self Assessment</div>
      <div class="container_table">
        <table class="table table-bordered">
          <thead class="">
            <tr>
              <th scope="col" class="w-75">Nama</th>
              <th scope="col">Resiko</th>
            </tr>
          </thead>
          <tbody>
              {% for hasil in kuesioner %}
            <tr>
              <td><a class="nama_list" href="{% url 'hasilkuesioner' hasil.id %}">{{ hasil.Nama }}</a></td>
              {% if hasil.hitung_nilai == 0 or hasil.hitung_nilai == 1 or hasil.hitung_nilai == 2 or hasil.hitung_nilai == 3 or hasil.hitung_nilai == 4 %}
              <td class="kecil_sedang">Kecil - Sedang</td>
              {% else %}
              <td class="besar">Besar</td>
              {% endif %}
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="imagefooter"><img src="{% static 'image/wave.svg' %}" alt="Image Footer"></div>    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
  {% endblock %}
</html>