{% extends 'base_contact.html' %}

{% block content %}
    <section class="contact_header_container">
        <h1 class="contact_header">Contact Information</h1>
    </section>

    <section class="contact_container">
        <div class="setiap_kontak">
        <div class="pertama_contact">
            <div class="sub_contact">
                <p class="pertama_sub">
                    Phone
                </p>
                <p class="kedua_sub">
                    +6281281215006
                </p>

                <p class="pertama_sub">
                    Email
                </p>

                <p class="kedua_sub">
                    kampretmelayang@gmail.com
                </p>
            </div>
        </div>

        <div class="pertama_contact">
            <div class="sub_contact">
                <p class="pertama_sub">
                    Office Hourse
                </p>
                <p class="kedua_sub">
                    08.00 - 17.00
                </p>

                <p class="pertama_sub">
                    Office Location
                </p>

                <p class="kedua_sub">
                    Fasilkom Gedung Baru, Depok, Jawa Barat
                </p>
            </div>
        </div>
        </div>
    </section>
    <div class="empty_section"></div>
    <div class="wave_container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#FCDAB7" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,202.7C320,181,400,139,480,138.7C560,139,640,181,720,208C800,235,880,245,960,218.7C1040,192,1120,128,1200,128C1280,128,1360,192,1400,224L1440,256L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
        </svg>
    </div>
{% endblock %}