{% extends 'base_landing.html' %}
{% load static %}


{% block content %}
    <section class="container_landing_judul">
        <div class="judul_landing">
            <h1 class="evaluasi_covid">
                Evaluasi Covid-19
            </h1>
            <p class="penjelasan_evaluasi">
                Evaluasi ini bertujuan untuk memberikan gambaran singkat kemungkinan terpaparnya virus Covid-19. Pemeriksaan lebih lanjut tetap disarankan untuk hasil yang lebih mendetail.
            </p>
            <a href="{% url 'kuesioner' %}"><button type="button" class="btn btn-info" id="btnklikdisini">Klik disini</button></a>
        </div>

    <div class="svg_virus">
         <img src="{% static 'image/virus1.svg' %}" class="virus1" alt="">
         <img src="{% static 'image/virus1.svg' %}" class="virus2" alt="">
    </div>
    </section>
    <div class="wave_container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
            <path fill="#FCDAB7" fill-opacity="1" d="M0,160L60,170.7C120,181,240,203,360,176C480,149,600,75,720,64C840,53,960,107,1080,128C1200,149,1320,139,1380,133.3L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
        </svg>
    </div>
    <section class="container_poin">
        <div class="poin_sub">
             <img src="{% static 'image/catatansvg.svg' %}" class="gambar_poin" alt="">
            <p class="poin_paragraf">
                Evaluasi dapat membantu pemetaan penyebaran Covid-19 di lingkungan kantor
            </p>
        </div>
        <div class="poin_sub">
            <img src="{% static 'image/pegawaisvg.svg' %}" class="gambar_poin" alt="">
            <p class="poin_paragraf">
                Evaluasi yang menyuluruh dapat meningkatkan produktifitas setiap pegawai
            </p>
        </div>
        <div class="poin_sub">
            <img src="{% static 'image/stetoscopsvg.svg' %}" class="gambar_poin" alt="">
            <p class="poin_paragraf">
                Evaluasi dapat membuat pencegahan dan penanganan kasus akan lebih mudah dilaksanakan
            </p>
        </div>
    </section>
    <div class="wave_container2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#1D2D50" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
        </svg>
    </div>
{% endblock %}